In [1]:
import pandas as pd
import datetime

/Users/yuyin/anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [10]:
weather = pd.read_csv("../../data/dataset/feature/ijcai17-wheather.csv",header=None)
weather.columns=['area','date','topTemp','lowTemp','weather','wind','windStrength','no']

In [11]:
weather.head()

  area        date  topTemp  lowTemp weather wind windStrength  no
0   三明  2015-01-01       16        1       晴  东北风         小于3级 NaN
1   三明  2015-01-02       18        4       晴   东风         小于3级 NaN
2   三明  2015-01-03       22        7    晴转多云  东南风         小于3级 NaN
3   三明  2015-01-04       22        7    多云转阴   北风         小于3级 NaN
4   三明  2015-01-05       18       12    阴转小雨   北风         小于3级 NaN

In [12]:
train_all = pd.read_csv("../../data/dataset/feature/train_all.txt",header=None)
train_all.columns=['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name']

In [16]:
date_time=weather['date']

In [18]:
dt=date_time[0]

In [19]:
dt

'2015-01-01'

In [24]:
dt[8:10]

'01'

In [25]:
train_all.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [26]:
time=[]
for dt in date_time:
  time.append(dt[0:4]+dt[5:7]+dt[8:10])

In [28]:
time=pd.DataFrame({'time':time})
time.head()

       time
0  20150101
1  20150102
2  20150103
3  20150104
4  20150105

In [31]:
weather = pd.read_csv("../../data/dataset/feature/ijcai17-wheather.csv",header=None)
weather.columns=['city_name','date','topTemp','lowTemp','weather','wind','windStrength','no']
date_time=weather['date']
time=[]
for dt in date_time:
  time.append(dt[0:4]+dt[5:7]+dt[8:10])
time=pd.DataFrame({'time':time})
weather=pd.concat([weather[['city_name','date','topTemp','lowTemp','weather','wind','windStrength']],time],axis=1)

In [32]:
weather.head()

  city_name        date  topTemp  lowTemp weather wind windStrength      time
0        三明  2015-01-01       16        1       晴  东北风         小于3级  20150101
1        三明  2015-01-02       18        4       晴   东风         小于3级  20150102
2        三明  2015-01-03       22        7    晴转多云  东南风         小于3级  20150103
3        三明  2015-01-04       22        7    多云转阴   北风         小于3级  20150104
4        三明  2015-01-05       18       12    阴转小雨   北风         小于3级  20150105

In [35]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,location_id,per_pay,score,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,937,9,3.0,2.0,1,美食,休闲茶饮,冰激凌
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,477,14,2.0,4.0,2,美食,快餐,西式快餐
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,115,12,3.0,9.0,2,美食,快餐,西式快餐

In [48]:
train_all_2=train_all

In [36]:
train_all_2=pd.merge(train_all_2,weather,on=['city_name','time'],how='left')

In [37]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,...,shop_level,cate_1_name,cate_2_name,cate_3_name,date,topTemp,lowTemp,weather,wind,windStrength
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,...,1,美食,休闲茶饮,冰激凌,NaN,NaN,NaN,NaN,NaN,NaN
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,...,1,美食,休闲茶饮,冰激凌,NaN,NaN,NaN,NaN,NaN,NaN
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,...,2,美食,快餐,西式快餐,NaN,NaN,NaN,NaN,NaN,NaN
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,...,2,美食,快餐,西式快餐,NaN,NaN,NaN,NaN,NaN,NaN
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,...,2,美食,快餐,西式快餐,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
weather[(weather['city_name']=='上海')&(weather['time']==20160505)].head()

Empty DataFrame
Columns: [city_name, date, topTemp, lowTemp, weather, wind, windStrength, time]
Index: []

In [42]:
weather = pd.read_csv("../../data/dataset/feature/ijcai17-wheather.csv",header=None)
weather.columns=['city_name','date','topTemp','lowTemp','weather','wind','windStrength','no']
date_time=weather['date']
time=[]
for dt in date_time:
  time.append(int(dt[0:4]+dt[5:7]+dt[8:10]))
time=pd.DataFrame({'time':time})
weather=pd.concat([weather[['city_name','date','topTemp','lowTemp','weather','wind','windStrength']],time],axis=1)

In [49]:
train_all_2=pd.merge(train_all_2,weather,on=['city_name','time'],how='left')

In [50]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,...,shop_level,cate_1_name,cate_2_name,cate_3_name,date,topTemp,lowTemp,weather,wind,windStrength
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,...,1,美食,休闲茶饮,冰激凌,2016-05-05,25.0,20.0,中雨,东南风,小于3级
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,...,1,美食,休闲茶饮,冰激凌,2015-10-27,20.0,14.0,多云~晴,东南风,小于3级
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,...,2,美食,快餐,西式快餐,2015-12-09,11.0,5.0,多云~阴,东南风,3-4级
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,...,2,美食,快餐,西式快餐,2016-03-25,15.0,4.0,晴,西南风,3-4级
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,...,2,美食,快餐,西式快餐,2015-10-22,30.0,15.0,多云,东北风,小于3级

In [46]:
train_all_2=train_all_2[['shop_id','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name','topTemp','lowTemp','weather','wind','windStrength']]

In [51]:
train_all_2=train_all_2[['shop_id','time','year','mouth','day','pay_count','pay_user_count','view_count','view_user_count','city_name','location_id','per_pay','score','comment_cnt','shop_level','cate_1_name','cate_2_name','cate_3_name','topTemp','lowTemp','weather','wind','windStrength']]

In [52]:
train_all_2.head()

,shop_id,time,year,mouth,day,pay_count,pay_user_count,view_count,view_user_count,city_name,...,comment_cnt,shop_level,cate_1_name,cate_2_name,cate_3_name,topTemp,lowTemp,weather,wind,windStrength
0,1862,20160505,2016,5,5,61,60,0.0,0.0,上海,...,2.0,1,美食,休闲茶饮,冰激凌,25.0,20.0,中雨,东南风,小于3级
1,1862,20151027,2015,10,27,4,4,0.0,0.0,上海,...,2.0,1,美食,休闲茶饮,冰激凌,20.0,14.0,多云~晴,东南风,小于3级
2,1097,20151209,2015,12,9,19,18,0.0,0.0,东营,...,4.0,2,美食,快餐,西式快餐,11.0,5.0,多云~阴,东南风,3-4级
3,1097,20160325,2016,3,25,36,34,0.0,0.0,东营,...,4.0,2,美食,快餐,西式快餐,15.0,4.0,晴,西南风,3-4级
4,1912,20151022,2015,10,22,87,82,0.0,0.0,无锡,...,9.0,2,美食,快餐,西式快餐,30.0,15.0,多云,东北风,小于3级

In [53]:
train_all_2.to_csv("../../data/dataset/feature/train_all_weather.txt",header=False,index=False)